@import "@/global";

.top-menu {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  font-family: Inter, sans-serif;

  .tabs-layer-menu {
    display: flex;
    align-items: center;
    height: 100%;

    .btn-tab {
      padding: 16px;
      height: 100%;
    }

    .btn-tab:hover,
    .btn-tab.active {
      background: $neutral700;
    }

    button,
    button:focus {
      border: none;
      outline: none;
    }
  }
}
