@import "@/global";

.container {
  display: flex;
  align-items: center;
  column-gap: 0;
  position: relative;
  border: 1px solid transparent;
  
  &.hover {
    border-color: $gray200;
  }

  .item {
    width: fit-content;
    height: fit-content;
    cursor: pointer;

    &-inner {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    &.active {
      background: $silver100;
    }
  }
}
