@import "@/global";

.container {
  padding: 0 16px;

  .list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 12px;

    .btn {
      padding: 4px;
      border-radius: 4px;
      transition: background 0.2s ease;

      &:hover {
        background: $neutral100;
      }
    }
  }
}
