.rendered-hover-border {
  background-image: linear-gradient(to right, $sky600, $sky600),
    linear-gradient(to bottom, $sky600, $sky600),
    linear-gradient(to right, $sky600, $sky600),
    linear-gradient(to bottom, $sky600, $sky600);
  background-position: top, 100%, bottom, 0;
  background-repeat: repeat-x, repeat-y, repeat-x, repeat-y;
  background-size: 2px 2px;
  contain: strict;
  position: absolute;
  will-change: transform;
  pointer-events: none;
}
