.editor {
  position: relative;

  [contenteditable="true"] {
    outline: none;
    border: none;
  }

  &-cover {
    position: absolute;
    inset: 0;
  }
  
  .editor-input,
  .editor-input:focus,
  .editor-input:active {
    outline: none;
    border: none;
  }
}
